/* Google Font Pooping */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* body {
  background-color: #ecfaff;
} */

/* shared Style */
.dark-1 {
  color: #000000;
}
.dark-2 {
  color: #474747;
}
.btn-prebook {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #e02c6d;
  border: none;
  border-radius: 42px;
  font-weight: bold;
  color: white;
  font-size: 1rem;
  padding: 18px 35px;
}

/* Nav styles */
#menu {
  display: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 35px 120px 0 120px;
}
.nav-title {
  font-size: 1.5rem;
  font-weight: 700;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
nav ul li {
  list-style: none;
  margin-left: 50px;
}
nav li a {
  text-decoration: none;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
ul li:nth-child(-n + 4) a {
  color: #3a3a3a;
}

ul li:nth-last-child(-n + 2) a {
  color: #000000;
}
i.cart-bs.fa-solid.fa-cart-shopping {
  display: none;
}

/* .header {
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 118px) 99px;
} */

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 120px 120px 69px;
}
.banner-content {
  width: 582px;
}
h1.banner-title {
  font-family: "Poppins";
  font-size: 3.25rem;
  font-weight: 700;
  margin-bottom: 16px;
}
p.banner-description {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 16px;
}
.camera {
  position: absolute;
  top: 191px;

  z-index: 1;
}
.circle {
  position: relative;
}
/* Sponcer section */
.sponcer {
  max-width: 1110px;
  margin: 0 auto;
}
.sponcor-companies {
  display: flex;
  justify-content: center;
  gap: 61px;
  padding: 36px 61px 34px 61px;
  border-top: 0.5px solid #ededed;
  border-bottom: 0.5px solid #ededed;
}
/* product-collection */

.product-collection {
  max-width: 1047px;
  margin: 100px auto 0 auto;
}
h2.section-title {
  text-align: center;
  padding: 0 34px 30px 33px;
  font-size: 1.75rem;
  font-weight: 600;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card-content {
  width: 329px;
  height: 476px;
  padding: 17px 15px 203px 14px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 30px;
}
h4.card-title {
  font-size: 1.75rem;
  font-weight: 400;
  padding: 16px 41px 6px 0;
  color: rgba(24, 25, 31, 1);
}
span.money {
  font-size: 1.2rem;
  padding-right: 233px;
  color: rgba(0, 0, 0, 0.87);
}
img.star {
  width: 12px;
  height: 12px;
}
span.rating-point {
  font-size: 13px;
  color: rgba(94, 99, 102, 1);
}
p.card-info {
  font-size: 12px;
  font-weight: 700;
  color: rgba(120, 120, 133, 1);
  width: 196px;
  padding-bottom: 17px;
}
.see-more span {
  color: #e02c6d;
  font-size: 1rem;
}
.see-more i {
  color: #e02c6d;
}
@media screen and (max-width: 576px) {
  nav {
    margin: 35px 16px 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav ul {
    display: none;
  }

  /* nav ul li {
    display: none;
  } */

  /* nav ul li:last-child {
    display: block;
  } */
  #menu {
    display: flex;
  }
  .nav-title {
    display: block;
  }
  i.cart-bs.fa-solid.fa-cart-shopping {
    display: block;
    color: #000000;
  }

  /* nav a {
    display: block; 
  } */
  .banner {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 22px 52px 0 52px;
  }
  .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    order: 2;
    width: 430px;
  }
  h1.banner-title {
    font-family: "Poppins";
    font-size: 1.75rem;
    font-weight: 700;
  }
  .banner-pic {
    order: 1;
  }
  .camera {
    width: 202px;
    height: 190px;
  }
  .circle {
    width: 257px;
    height: 257px;
  }
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .camera {
    position: absolute;
    top: 123px;
    z-index: 1;
  }
  .circle {
    position: relative;
    width: 257px;
  }
  /* sponcer */
  .sponcor-companies {
    justify-content: center;
    gap: 34px;
    width: 558px;
    flex-wrap: wrap;
    margin-top: 50px;
    /* padding: 0 42px; */
    border: none;
  }
  /* product collection */
  .card-container {
    grid-template-columns: 1fr;
    place-items: center;
  }
}
